body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}


h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: greenyellow;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 25px;
    color: brown;
}

p {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 35px;
    color:crimson;
}

button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: orange;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: black;
}

#save-btn {
    background: darkblue
}